/* ====================================
// css variables
// ==================================== */

:root {
  --violet-color: #d7a1fd;
  --green-color: #98fb00;
  --grey-color: #313131;
  --black-color: #000;
  --white-color: #fff;
  --beige-color: rgba(244, 237, 232, 1);
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 428px;
  scroll-behavior: smooth;
  font-size: 15px;
  font-family: "Noto Serif", serif;
  text-transform: uppercase;
  color: var(--black-color);
  font-weight: 300;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  height: 50%;
  block-size: auto;
  vertical-align: text-top;
}

header {
  background: var(--violet-color);
}

h1 {
  font-family: Nunito Sans;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  padding: 20px 20px 10px;
}

h1 > span {
  font-family: Noto Serif;
  font-weight: 300;
}

header > p {
  color: var(--white-color);
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 20px;
}

nav {
  background: var(--black-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px 35px 20px 35px;
}

.news-menu {
  padding: 0 20px 0;
}

h2 {
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
  padding-top: 60px;
  padding-bottom: 10px;
}

.whatson > div > div {
  text-align: center;
  line-height: 15px;
  text-transform: capitalize;
  border: 1px solid var(--black-color);
  margin: 20px;
}

hr {
  width: 388px;
  height: 7px;
  flex-shrink: 0;
  background: var(--violet-color);
}

h3 {
  color: var(--black-color);
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  text-transform: uppercase;
}

.programme-div-div > p {
  padding: 20px;
}

.programme-div-div {
  margin-bottom: 30px;
}

.programme {
  background: var(--black-color);
  color: #d7a1fd;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  line-height: 15px;
  padding: 20px 30px;
  margin: 30px 97px 0;
}

.citation {
  background: var(--green-color);
  margin-top: 60px;
  padding: 20px;
}

.citation > p {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -1.5px;
}

h4 {
  color: var(--black-color);
  text-align: center;
  line-height: 15px;
  padding: 20px 20px 0;
  font-weight: 300;
}

.whatsnew {
  background: var(--beige-color);
  padding-bottom: 60px;
}

.whatsnew > div {
  background: var(--white-color);
  border-radius: 20px;
  width: 388px;
  height: 409px;
  flex-shrink: 0;
  text-transform: none;
  font-size: 15px;
  line-height: 22px;
  margin: 20px 20px 0 20px;
}

.whatsnew > div > p {
  padding: 20px;
}

.whatsnew > div > img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

strong {
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
}

.opportunities {
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -1px;
  margin-bottom: 60px;
}

.opportunities > h2 {
  text-align: center;
  font-size: 50px;
  font-style: normal;
  letter-spacing: -2.5px;
  background: var(--violet-color);
  padding: 20px;
}

.opportunities > p {
  background: var(--green-color);
  padding: 20px;
  margin: 20px 0;
}

footer {
  background: var(--black-color);
  color: var(--white-color);
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 40px;
}

footer > h1 {
  color: var(--grey-color);
  padding: 20px 20px 0;
}

h5 {
  color: var(--white-color);
  font-family: Nunito Sans;
  font-weight: 800;
  padding: 20px 20px 0;
}

footer > div > p {
  text-transform: lowercase;
}
